.pageWrapper {
 width: 1320px;
 margin: auto;
}


.sectionTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #000;
  margin: 30px 40px;

  @media (max-width: 1024px) {
    font-size: 32px;
  }

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
