.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .routing {
    flex-grow: 1;
  }
}
:root {
  --dark-blue-0: rgba(46, 108, 244, 1);
  --dark-blue-700: rgba(109, 153, 248, 1);
  --h-1-font-family: "Inter", Helvetica;
  --h-1-font-size: 40px;
  --h-1-font-style: normal;
  --h-1-font-weight: 600;
  --h-1-letter-spacing: 0px;
  --h-1-line-height: normal;
  --main-black-0: rgba(17, 17, 17, 1);
  --main-black-400: rgba(160, 160, 160, 1);
  --main-white: rgba(255, 255, 255, 1);
}