.materialsContainer {
  display: flex;
  gap: 20px;
  justify-content: center;

  .materialCard {
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 312px;
    height: 400px;
    padding: 16px;
    text-align: center;
    transition: 0.3s;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    }

    img {
      width: 280px;
      height: 242px;
      border-radius: 20px;
    }

    div {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      gap: 20px;
    }

    h3 {
      font-weight: 400;
      font-size: 36px;
      color: rgba(17, 17, 17, 1);
    }

    .price {
      font-weight: 500;
      font-size: 24px;
      color: rgba(17, 17, 17, 1);
    }
  }
}

@media (max-width:1400px) {
  .materialsContainer {
    flex-wrap: wrap;
  }
}

@media(max-width:400px) {
  .materialsContainer {
    .materialCard {
      width: 250px;
      height: 350px;

      img {
        width: 240px;
        height: 242px;

      }

      h3 {
        font-weight: 400;
        font-size: 20px;
        color: rgba(17, 17, 17, 1);
      }
    }
  }
}

@media(max-width:300px) {
  .materialsContainer {
    .materialCard {
      width: 200px;
      height: 270px;

      img {
        width: 190px;
        height: 172px;

      }

      h3 {
        font-weight: 400;
        font-size: 20px;
        color: rgba(17, 17, 17, 1);
      }
    }
  }
}

